@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

body {
    background-color: rgb(227, 227, 227);
}

.ff-noto-sans {
    font-family: "Noto Sans", sans-serif !important;
}

.nav-form {
    width: 100%;
}